<footer class="bg-[#00471B] text-white py-10 mt-16">
    <div class="max-w-7xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center md:items-start gap-10">

        <div class="text-center md:text-left max-w-sm">
            <h3 class="text-2xl font-bold mb-3">Milwaukee Bucks</h3>
            <p class="text-sm text-[#EEE1C6]">
                Unofficial fan website created for educational purposes.
                Explore players, history, and the legacy of the Milwaukee Bucks.
            </p>
        </div>

        <div class="text-center md:text-left">
            <h3 class="text-lg font-semibold mb-3">Quick Links</h3>
            <div class="flex flex-col space-y-2 text-[#EEE1C6]">
                <a href="/src/pages/roster.html" class="hover:text-white transition">Roster</a>
                <a href="/src/pages/gallery.html" class="hover:text-white transition">Gallery</a>
                <a href="/src/pages/highlights.html" class="hover:text-white transition">Highlights</a>
                <a href="/src/pages/history.html" class="hover:text-white transition">History</a>
                <a href="/src/pages/schedule.html" class="hover:text-white transition">Schedule</a>
            </div>
        </div>

        <div class="text-center md:text-left">
            <h3 class="text-lg font-semibold mb-3">Follow Us</h3>
            <div class="flex justify-center md:justify-start space-x-4">
                <a href="https://www.facebook.com/milwaukeebucks/" class="hover:text-white transition"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #EEE1C6;"></i></a>
                <a href="https://www.instagram.com/bucks/" class="hover:text-white transition"><i class="fa-brands fa-square-instagram fa-2xl" style="color: #EEE1C6;"></i></a>
                <a href="https://x.com/Bucks" class="hover:text-white transition"><i class="fa-brands fa-square-twitter fa-2xl" style="color: #EEE1C6;"></i></a>
            </div>
        </div>
    </div>

    <div class="mt-8 border-t text-[#EEE1C6] border-[#EEE1C6]/20 pt-4 text-center text-sm">
        © 2025 Milwaukee Bucks Site — Created by Davis Mencis
    </div>
</footer>