@import "tailwindcss";


body {
    font-family: 'Bebas Neue', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

nav a {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/* animation for hero section */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    66.67% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    66.67% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

.animate-fade-in-text {
    animation: fadeInText 2s ease-in-out forwards;
}

/* Upcoming games scroll */
.games-container {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.games-container::-webkit-scrollbar {
    display: none;
}